# Cổng thanh toán PayOS (Lấy tại Bước 3 sau khi tạo Kênh thanh toán xbook trên https://my.payos.vn/)
PAYOS_CLIENT_ID=your_client_id_here
PAYOS_API_KEY=your_api_key_here
PAYOS_CHECKSUM_KEY=your_checksum_key_here

# Cấu hình máy chủ
PORT=3000
# Khi chạy local hoặc đưa lên ngrok/tên miền:
BASE_URL=http://localhost:3000
